@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body{
    background: #ededed;
}
/* teste */
#cont{
    display: flex;
    width: 900px;
    margin: 0 auto;
    }
    #compras{
        float: left;
        }
        #card-itens{
            width: 600px;
            height: 100px;
            background-color: #0b152f;
            border-radius: 17px;
            }
        #card-itens img{
            float: left;
            }
        #card-itens:nth-child(n+2){
            margin-top: 10px;
            }
            .img-itens{
                float: left;
                width: 85px;
                height: 85px;
                padding: 8px;
            }
            .title-itens{
                font-family: 'Roboto', sans-serif;
                color: #ededed;
                position: relative;
                margin-top: 5px;
                float: left;
            }
            .text-itens{
                position: absolute;
                margin-left: 102px;
                margin-top: 32px;
                color: #fff;
                float: left;
                width: 388px;
                text-align: justify;
            }
            .qto{
                color: #fff !important;
                font-family: 'Roboto', sans-serif;
                font-size: 30px;
                top: 35px;
                right: 70px;
                float: right;
                position: relative;
            }
            #buttons{
                float: right;
                position: relative;
                display: flex;
                flex-direction: column;
                }
                .add{
                    font-size: 20px;
                    margin-top: 26px;
                    color: #189a18;
                }
                .del{
                    font-size: 20px;
                    margin-top: 10px;
                    color:#842727;
}
            

#pedidos{
    float: right;
    margin-top: 100px;
    margin-left: 20px;   
    }
    .rowpesquisa{
        display: flex;
        flex-direction: row;
        }
        .btn-pesquisar{
            color: #ededed;
            width: 250px;
            height: 30px;
            margin-top: -30px;
            border: none;
            border-radius: 45px;
            background-color: #0b152f;
            text-align: center;
            outline: none;
        }
        .lupa{
            margin-top: -28px;
            padding: 5px;
            font-size: 19px;
}

footer{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    float: right;
    }
    #cardvalor{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-top:5px;
        margin-right: 8px;
        }
        #nome{
            color: #ededed;
            width: 229px;
            height: 30px;
            border: none;
            border-radius: 8px;
            background-color: #0b152f;
            margin-right: 8px;
            text-align: center;
            outline: none;
        }
        #pedir{
            background: #a8ff78;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            outline: none;
            border:none;
            border-radius: 5px;
        }
        ::-webkit-input-placeholder {
            text-align: center;
            color: #ededed;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 300;
            outline: none;
        }
        #resultpesquisa{
            width: 234px;
            background: #ffffff;
            float: right;
            margin-right: 39px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        #title-search{
            margin-top:5px;
            margin-left: 10px;
        }
        #search-itens{
            margin-top:5px;
            margin-left: 20px;
            margin-bottom:15px;
}
           
@media (max-width: 700px) {
    #cont{
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
    }
    #compras{
        width: 100%;
        max-width: 600px;
    } 
    #card-itens{
        background-color: #0b152f;
        width: 100%;
        max-width: 600px;
        height: 100%;
        display: flex;
        direction: row;
        flex-wrap: wrap; 
        border-radius: 17px;
        box-shadow: #0b152f 0px 0px 0.2rem,#0b152f 0px 0px 0.2rem;
    }
    .img-itens{
        margin: 0 auto;
        width: 40%;
        max-width: 600px;
        float: left;
        position: relative;
    }
    #profile-itens{
        width: 100%;
        max-width: 600px;
        position: relative;
        float: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .qto{
        position: relative;
        float: left;
    }
    .title-itens{
        max-width: 90%;
        text-align: right;
        margin-left: 10px;
    }
    .text-itens{
        max-width: 90%;
        float: left;
        margin-left: 10px;
        margin-top:0px;
        position: relative;
    }
    .qto{
        color: #fff;
        float: left;
        position: relative;
        max-width: 100%;
        margin:0 auto;
        top:0;
        right:2px;
    }
    #buttons{
        width: 100%;
        max-width: 600px;
        float: right;
        position: relative;
        padding: 15px;
    }
    .add{
        position: absolute;
        right: 25px;
        margin-top:-60px;  
    }
    .del{
        position: absolute;
        right: 25px;
        margin-top:-30px;
    }
    footer{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    #cardvalor{
        text-align: right;
        max-width: 600px;
        width: 90%;
    }
    #nome{
        margin: 0 auto;
        max-width: 600px;
        width: 98%;
        margin-top: 10px;
        box-shadow: #0b152f 0px 0px 0.2rem,#0b152f 0px 0px 0.2rem;
    }
    #pedir{
        height: 25px;
        margin-top: 10px;
        max-width: 600px;
        width: 100%;
        box-shadow: #265011 0px 0px 0.2rem,#265011 0px 0px 0.2rem;
    }
    #pedidos{
        float: left;
        margin-left: 0px;
        position: relative;
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: row;
        top:-60px;
    }
    .btn-pesquisar{
        max-width: 450px;
        z-index: 10;
        border-radius: 12px;
        box-shadow: #0b152f 0px 0px 0.2rem, #0b152f 0px 0px 0.2rem;
    }
    #pesquisar{
        text-shadow: #0b152f 0px 0px 1rem;
        margin-left: 5px;
        position: absolute;
        right: 0;
    }
    #resultpesquisa{
        max-width: 400px;
        left: 9px;
        position: absolute;
        z-index: 1;
    }
}