@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body{
    background: #ededed;
}
footer{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    float: right;
}
#buttons{
    float: right;
    position: relative;
}
.add{
    font-size: 20px;
    margin-top: 26px;
    color: #189a18;
}
.del{
    font-size: 20px;
    margin-top: 10px;
    color:#842727;
}
#cont{
    display: flex;
    width: 900px;
    margin: 0 auto;
}
#card-itens{
    width: 600px;
    height: 100px;
    background-color: #0b152f;
    border-radius: 17px;
}
#card-itens img{
    float: left;
}
#card-itens:nth-child(n+2){
    margin-top: 10px;
}
.img-itens{
    float: left;
    width: 85px;
    height: 85px;
    padding: 8px;
}
.title-itens{
    font-family: 'Roboto', sans-serif;
    color: #ededed;
    position: relative;
    margin-top: 5px;
    float: left;
}
.text-itens{
    position: absolute;
    margin-left: 102px;
    margin-top: 32px;
    color: #fff;
    float: left;
    width: 388px;
    text-align: justify;
}
#buttons{
    display: flex;
    flex-direction: column;
}
.qto{
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    top: 35px;
    right: 70px;
    float: right;
    position: relative;
}
#nome{
    color: #ededed;
    width: 280px;
    height: 30px;
    border:none;
    border-radius: 45px;
    background-color: #0b152f;
    text-align: center;
    outline: none;
}
::-webkit-input-placeholder {
    text-align: center;
    color: #ededed;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    outline: none;
}
#compras{
    float: left;
}
#pedidos{
    float: right;
    margin-top: 100px;
    margin-left: 20px;   
}
.btn-pesquisar{
    color: #ededed;
    width: 250px;
    height: 30px;
    border:none;
    border-radius: 45px;
    background-color: #0b152f;
    text-align: center;
    outline: none;
}
.rowpesquisa{
    display: flex;
    flex-direction: row;
}
.lupa{
    padding: 5px;
    font-size: 19px;
}
#resultpesquisa{
    width: 234px;
    background: #ffffff;
    float: right;
    margin-right: 39px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#title-search{
    margin-top:5px;
    margin-left: 10px;
}
#search-itens{
    margin-top:5px;
    margin-left: 20px;
    margin-bottom:15px;
}