body{
    background: #ededed;
    display: flex;
}
#cards{
    min-width: 250px;
    min-height: 335px;
    margin-left: 10px;;
}
/* #ctn:nth-child(n+2) {
    margin-left: 10px;
} */
#box{
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;   
}